#loading-circle {
    z-index: 1001;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    text-align: center;
    display: block;
    opacity: 1;
    animation: fadeup 0.4s;
    -webkit-animation: fadeup 0.3s;
    -moz-animation: fadeup 0.3s;
    -o-animation: fadeup 0.3s;
}
@keyframes fadeup {
    0% {opacity: 0;}
    33% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeup {
    0% {opacity: 0;}
    33% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fadeup {
    0% {opacity: 0;}
    33% {opacity: 0;}
    100% {opacity: 1;}
}
@-o-keyframes fadeup {
    0% {opacity: 0;}
    33% {opacity: 0;}
    100% {opacity: 1;}
}
.loading-circle-message-wrapper {
    position: absolute;
    top: 50%;
    margin-top: 80px;
    text-align: center;
    left: 0;
    right: 0;
}
.loading-circle-message {
    display: inline-block;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 5px;
    box-shadow: 0 0 50px #000;
    border-radius: 10px;
}
#loading-circle .fa {
    height: 40px;
    width: 40px;
    top: 50%;
    margin-top: -25px;
    position: absolute;
    font-size: 40px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 5px;
    margin-left: -25px;
    border-radius: 100%;
    box-shadow: 0 0 50px #000;
}

.fuzz {
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    overflow: auto;
}
.fuzz .vbox-table {
    height: 100%;
}
.fuzz .vbox {
    background-color: #fff;
    padding: 20px;
    position: relative;
    color: #333;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	outline: 0;
    top: -50px;
	transition: all 0.1s ease-out;
}
.fuzz .vbox.visible {
	top: 0;
}
.fuzz .vbox-content {
    color: #333;
	min-width: 250px;
	min-height: 150px;
}
.fuzz .vbox-content h4 {
    margin: 0;
	line-height: 1.42857143;
}
.fuzz .vbox-close {
    position: absolute;
    text-decoration: none;
    right: 10px;
    top: 10px;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
}
.fuzz .vbox-close:hover {
    opacity: .5;
}