Options +FollowSymLinks
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteRule ^(.*)\.html$ $1.php [L]



#####################
#   MODULES START   #
#####################

RewriteRule ^customer/$ /customer [R]
RewriteRule ^customer$ /modules/index.php?p=$1 [L]
RewriteRule ^customer/(.*)$ /modules/index.php?p=$1 [L]

RewriteRule ^merchant/$ /merchant [R]
RewriteRule ^merchant$ /modules/index.php?p=$1 [L]
RewriteRule ^merchant/(.*)$ /modules/index.php?p=$1 [L]

#####################
#    MODULES END    #
#####################





# "Static" pages.
RewriteRule ^about$ /about.php [L]
RewriteRule ^about/$ /about.php [L]
RewriteRule ^map-page$ /map-page.php [L]
RewriteRule ^map-page/$ /map-page.php [L]
